node-red flow.json
[{"id":"430f135f.5113ec","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"b1b11140.4e4ef","type":"inject","z":"430f135f.5113ec","name":"","topic":"","payload":"Hello Node-RED!","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":141,"y":61,"wires":[["f2f2649a.0d0d98"]]},{"id":"f2f2649a.0d0d98","type":"debug","z":"430f135f.5113ec","name":"","active":true,"console":"false","complete":"false","x":401,"y":87,"wires":[]},{"id":"13e0f307.57860d","type":"ui_form","z":"430f135f.5113ec","name":"","label":"","group":"29083e83.1059a2","order":1,"width":14,"height":4,"options":[{"label":"enter name","value":"name","type":"text","required":true,"rows":null},{"label":"enter email","value":"email","type":"email","required":true,"rows":null},{"label":"enter password","value":"pass","type":"password","required":true,"rows":null}],"formValue":{"name":"","email":"","pass":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":240,"y":200,"wires":[["d954bdc2.81098"]]},{"id":"d954bdc2.81098","type":"function","z":"430f135f.5113ec","name":"","func":"msg.payload=\"hi\"+msg.payload.name;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":200,"wires":[["f2f2649a.0d0d98"]]},{"id":"29083e83.1059a2","type":"ui_group","z":"","name":"BOT REPLY","tab":"b700dd00.69db3","order":2,"disp":true,"width":14,"collapse":true},{"id":"b700dd00.69db3","type":"ui_tab","z":"","name":"CUSTOMER SUPPORT","icon":"dashboard","disabled":false,"hidden":false}]